<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EpicorIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EpicorIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <EpicorIntegration.Properties.Settings>
            <setting name="uname" serializeAs="String">
                <value />
            </setting>
            <setting name="passw" serializeAs="String">
                <value />
            </setting>
        </EpicorIntegration.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EpicorIntegration.Properties.Settings>
            <setting name="svrname" serializeAs="String">
                <value>EPAPP1</value>
            </setting>
            <setting name="svrport" serializeAs="String">
                <value>9421</value>
            </setting>
        </EpicorIntegration.Properties.Settings>
    </applicationSettings>
</configuration>