<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EpicorIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EpicorIntegration.Properties.Settings.ConnectionString"
            connectionString="Data Source=ENGSVR01;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="EpicorIntegration.Properties.Settings.ENGDataConnectionString"
            connectionString="Data Source=ENGSVR01;Initial Catalog=ENGData;User ID=sa;Password=Norco!2013"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <EpicorIntegration.Properties.Settings>
            <setting name="uname" serializeAs="String">
                <value>bhooper</value>
            </setting>
            <setting name="passw" serializeAs="String">
                <value>hgdmccl</value>
            </setting>
            <setting name="svrname" serializeAs="String">
                <value>EPAPP1</value>
            </setting>
            <setting name="svrport" serializeAs="String">
                <value>9421</value>
            </setting>
            <setting name="validated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="allresults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="linelimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="mtlreqtype" serializeAs="String">
                <value>part</value>
            </setting>
        </EpicorIntegration.Properties.Settings>
    </userSettings>
</configuration>